*{
    margin: 0;
    padding: 0;
}

header
{
    margin: 0;
    background-color: #2F3235;
    height: 3rem;
}

main{
    height: 80vh;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{ 
    width: 8rem;
    margin: 0 auto;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.flex--container{
    display: flex;
    gap: 4rem;
}

h4{
    text-align: center;
    padding-bottom: 4rem;
}

h5{
    text-align: center;
    padding-bottom: 1rem;
}